<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <!-- <img id='background-lines' src="{{ "/assets/lines2.svg" | absolute_url }}">  -->
    {% include header.html %}

    {% if page.url == "/" %}
      <main class="page-content-for-home" aria-label="Content">
        <div class="wrapper-for-home">
    {% else %}
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
    {% endif %}
        {{ content }}
      </div>
    </main>



    {% include footer.html %}

  </body>

</html>
